<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PinkBike Scraper</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
  <div class="page-container">
    <!--  HEADER WITH LOGO AND LINKS  -->
    <header class="header-container clearfix">
      <a href="/" class="header-logo-link"><img src="./assets/img/pinkbikeScraperLogo.jpeg" alt="Pinkbike Scraper Logo" class="header-logo"></a>
      <a href="/" class="link">Home</a>
      <a href="/saved" class="link">Saved Articles</a>
      <div class="header-buttons-right">
        <button class="scrape-button button">Scrape!</button>  
        <button class="clear-button button">Clear Articles</button>
      </div>
    </header>


    {{{body}}}

  </div>

  <!--  FOOTER  -->
  <div class="footer">
    <p class="copyright">&copy; Copyright 2019</p> 
  </div>
 
    <script src="./assets/js/scripts.js"></script>
</body>
</html>